<!doctype html>
<html>
    <head>
        <title>Theresa's Blog</title>
        <style type="text/css">
          {% include "style.css" %}
        </style>
    </head>
<body>
    <a href="/">Users</a> <a href="/blog">All Blogz Posts</a> <a href="/newpost">Add a blog entry</a>
    <div style='float: right'>
        {% if 'username' in session %}
          {{ session['username'] }}
          <form action="/logout" method="post" id='logout'>
            <input type="submit" value="Log Out" />
          </form>
        {% else %}
          <a href="/">Home</a> | <a href="login">Log In</a> | <a href="signup">Create Account</a>
        {% endif %}
      </div>
    {% block content %}
    {% endblock %}

</body>
</html>