{% extends "base.html" %}
{% block content %}

<!-- If a user accesses blogs by owner through the '/' route -->
{% if posts_by_user %}
    <h1>posts by {{username}}</h1>
    {% for post in posts_by_user %}
        <h2><a href="blog?id={{post.id}}">{{post.title}}</h2></a>
        {{post.body}}
        <br><br>
        <div class="written-by">Written by: {{username}}</div>
        <hr>
    {% endfor %}
{% endif %}

<!-- If the user has clicked on a blog title -->
{% if post_to_display %}
    <h1>{{post_to_display.title}}</h1>
    {{post_to_display.body}}<br><br>
    <div class="written-by">Written by: <a href="blog?user={{post_to_display.owner.username}}">{{post_to_display.owner.username}}</a></div>
{% endif %}

<!-- If there are no blog posts to display at all -->
{% if blog_posts|length == 0 and not posts_by_user and not post_to_display %}
    <h1>{{username}} hasn't posted anything yet</h1>
{% endif %}

<!-- If the user is on the main blog page -->
{% if blog_posts|length > 0 %}
    <br>
    <h1>Blogz Posts</h1>
    <hr>
        {% for post in blog_posts %}
            <h2><a href="blog?id={{post.id}}">{{post.title}}</a></h2>
            <p>{{post.body}}</p>
            {% for user in users %}
                {% if user.id == post.owner_id %}
            <div class="written-by">Written by: <a href='blog?user={{user.username}}'>{{user.username}}</a></div>
                <hr>
                {% endif %}
            {% endfor %}
        {% endfor %}
{% endif %}

{% endblock %}