{% extends "base.html" %}
{% block content %}

    <h1>Log in to  Blogz</h1>
        <p>If you don't have an account, you may <a href="/signup">Sign Up</a> for one</p>
        <div class="user-form">
            <div class="user-inputs">
                <form action="/login" method="post">
                <label for="username">Username</label>
                <br>
                <input name="username" type="username" value="{{ username }}" placeholder="Username">
                <br>
                <div class='error'>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'username-error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="user-inputs">
                <label for="password">Password</label>
                <br>
                <input name="password" type="password" placeholder="Password">
                <br>
                <div class='error'>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'password-error' %}
                                    {{message}}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
            </div>
            <input type="submit" value="Login">
        </div>
    </form>
    
{% endblock %}