{% extends "base.html" %}
{% block content %}

    <h1>Add a Blogz post</h1>
    <div class="user-form">
        <form method='post'>
        <div class="user-inputs">
            <label>
                Blog post title<br>
                <textarea rows="1" cols="25" name='title' placeholder="Blog Title">{{title}}</textarea>
            </label>
            <div class="error">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        {% if category == "title_error" %}
                            {{message}}<br>    
                        {% endif %} 
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
        <div class="user-inputs">
            Blog post body<br>
            <textarea rows="9" cols="25" name='body' placeholder="Blog Body">{{body}}</textarea>
            <div class="error">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% for category, message in messages %}
                        {% if category == "body_error" %}
                            {{message}}<br>    
                        {% endif %}     
                    {% endfor %}
                {% endwith %}
            </div>
            <br>
            <input type="submit" value='Add New Post'/>
        </div>
        </form>
    </div>

{% endblock %}