body {
    font-family: 'Century Gothic', 'Arial', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
}

ul {
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.error {
    color: red;
    font-style: italic;
    font-size: 10pt;
}

.written-by {
    font-size: 9pt;
    font-style: italic;
}

.user-form {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
}

.user-inputs {
    margin: 20px;
}
